body{
    background-color: #ffffff;
    width: 80%;
    margin: auto;
}

.details-container{
    margin-top: 10%;
    display: flex;
    gap: 2%;
}
.img-box{
   padding: 0;
}
img{
    width: 70%;
}
.details-content{
    width: 70%;
    display: flex;
    align-items: center;
}
.content h1{
    font-size: 8vh;
}
.content p{
    width: 80%;
    font-size: 3vh;
}
.content button{
    /* width: 40%; */
    font-size: 2vh;
    background: #000;
    color: #ffffff;
    padding: 2% 3%;
}
@media only screen and (max-width: 1400px){
    .content h1{
        font-size: 6vh;
    }
    .content p{
        width: 70%;
        font-size: 2vh;
    }
}

@media only screen and (max-width: 1200px) {
    .content h1{
        font-size: 4vh;
    }
    .content p{
        width: 70%;
        font-size: 1.5vh;
    }
    .content button{
        font-size: 1vh;
    }
  }

@media only screen and (max-width: 992px) {
    .details-content{
        width: 100%;
    }
    .content h1{
        font-size: 3vh;
    }
    .content p{
        width: 70%;
        font-size: 1vh;
    }
  }

  @media only screen and (max-width: 768px) {
    .img-box{
        width: 90%;
    }
    img{
        width: 90%;
    }
    .details-content{
        width: 70%;
    }
    .content h1{
        font-size: 2.5vh;
    }
    .content p{
        width: 80%;
        font-size: 1.3vh;
    }
  }


  @media only screen and (max-width: 576px) {
    .details-container{
        margin-top: 10%;
        display: inline;
        gap: 2%;
    }
    .img-box{
        display: flex;
        justify-content: center;
    }
    img{
        margin-top: 5%;
    }
    .details-content{
        width: 100%;
        margin-top: 5%;
    }
    .content h1{
        font-size: 4vh;
    }
    .content p{
        width: 80%;
        font-size: 3vh;
    }
    .content button{
        font-size: 2vh;
        border: none;
    }
  }




/* @media only screen and (max-width: 1200px) {
    body {
        background-color: rgb(49, 157, 193);
    }
    
  } */
